*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('../donatee.jpg');
	background-size: cover;
	height: 145vh;
	
	
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);


}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
	

}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;

}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;

/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}


.rightmenu ul li a:hover{
	
	color: orange;
}
.rightmenu ul li a{
	text-decoration: none;
	color: white;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.hometext{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.hometext h1{
	font-size:60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.hometext h3{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.hometext h2{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

.text h2{
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}


#buttonone{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}

#buttontwo{

	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}


body {
  background-color: lightblue;
  }
  
  
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
p{
  font-size: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

a{
	text-decoration: none;
    font-size: 14px;
    color: #fff;
}
